:root {
    --color1: rgba(255, 255, 255, .5)
}
body {
    background-color: lightblue;
    font-family: monospace;
}


header {
    display: flex;
    justify-content: center;
    background-color:var(--color1);
    border: solid 2px black;
    margin: 50px;
    border-radius: 15px;

}
.hsBtn {
    display: flex;
    justify-content: center;
}
#hsBtn {
    background-color: pink;
    padding: 15px;
    border-radius: 10px;

}
#hsBtn:hover {
    background-color: red;
}

main {
    justify-content: center;
}
.timer {
    display:flex;
    justify-content: center;
    background-color:var(--color1);
    border: solid 2px black;
    border-radius: 15px;
    flex: .25;
    padding: 10px;

}

.timerDiv {
    display:flex;
    justify-content: center;
    padding: 10px;

}
.btnDiv {
    display: flex;
    justify-content: center;
}
.btn {
    background-color: lightcoral;
    border-radius: 10px;
    justify-content: center;
    padding: 20px;
}
.btn:hover {
    background-color: white;
}
.questionDiv {
    border: solid 2px black;
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .5)
}
.hsDiv {
    display:flex;
    justify-content: center;
    border: solid 2px black;
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .5)
}
.hsPage {
    display:flex;
    justify-content: center;
    border: solid 2px black;
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .5)
}

.hidden {
    display:none;
}

.question-Title {
    display:flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
 
}
.answerDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.answerDiv button {
    padding: 10px;
    margin: 2px;
    background-color: pink;
    border-radius: 10px;
}
.answerDiv button:hover {
    background-color: white;
}
#checkQuestion {
    font-size: 25px;
    color: red;
}
#homeBtn {
    display: flex;
    justify-content: center;

}
#homeBtn button {
    background-color: pink;
    padding: 15px;
    border-radius: 10px;
}
#hsFormPage {
    display: none;
}
table {
    display: flex;
    justify-content: center;
    padding: 10px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 10px;
    background-color: lightgray;
}
table th {
    border-bottom: 1px solid black;
}
table td {
    padding: 10px;
}